axios error Error: Request failed with status code 415

Using Axios in React Native 0.60.5, 

I am trying to post the data and i am getting error 415 continuously, I am trying the same in Firefox Rest Client, There it is working fine, Below is the data i am posting. 


body: "[{"name":"Kks","comment":"Tesy"}]"
headers: {
            "Accept": "application/json",
            "Content-Type": "application/json",
            "Authorization": "Bearer" + ACCESS_TOKEN
        },
method: "POST"
url: "testURL.com"


what you want to send in your body? a string or stringified array? It is invalid syntax you can't use  double quotes in strings with double quotes. either form string using backticks or single quotes or escape double quotes or just send a array of object.
If your issue is resolved then please close the issue otherwise provide more concrete example.

That seems like an issue with the request and the data type you're sending to that endpoint, agree with @contactyash, please provide an example or close the issue

I have a similar problem here with GET requests (axios 0.19.0).

When I send a GET request with a 'Content-type' header, axios remove this header and I receive a 415 error.
If I add an empty body to the same request, the 'content-type' header is not removed and I have no error.

I think the issue here is when the requestData is not specified, the 'content-type' header will always get removed. 

According to the RFC 7231 section 3.1.5.5, "A sender that generates a message containing a payload body SHOULD generate a Content-Type header field in that message unless the intended media type of the enclosed representation is unknown to the sender" . **But not vice versa.**

I believe that 'Content-Type' header should not be strongly associated with the request data or even the request method. 

See my reproduce example below:

```
        let axiosConfig = { method, url, {"Content-type":"application/json"}};
        var axiosInstance = axios.create(axiosConfig);
        axiosInstance.patch(url)
            .then(function (res) { ...
            })
            .catch(function (err) { ...
            });
        };
```

No 'Content-Type' in the request header:
``` PATCH /************************* HTTP/1.1
Host: ***************
Connection: keep-alive
Pragma: no-cache
Cache-Control: no-cache
Accept: application/json, text/plain, */*
Origin: null
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36
Accept-Encoding: gzip, deflate
Accept-Language: en,zh-CN;q=0.9,zh;q=0.8,ja;q=0.7,fr;q=0.6,de;q=0.5,eo;q=0.4
```

Closed due to stale. If you met similar problems, feel free to open a new issue with required information.

There are many possible reasons. The most useful way is to compare request headers with other libraries, like jQuery/XHR.